:root {
    --color-title:rgb(61, 78, 110);
    --color-backgound-buttom: #45709B;
    --color-buttom:#fff;
    --color-border-input: rgb(199, 199, 199);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

body {
    height:100vh;
    width:100vw;
    overflow-x: hidden;
}

main {
     flex: 1; 
}

#title {
    width: 150px;
    margin: 0.5rem 0 0 1rem;
    font-size: 1.9rem;
    font-weight: 500;
    color: var(--color-title) ;
}

form {
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 0.1rem;
    background-color: aliceblue;
    padding-left: 1.5rem;
}

.filter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:start;
    justify-content: space-around;
    text-align: left;
}
.container-separato {
    display: inline;
}

.container-input {
    margin: 0.5rem 0.5rem 0 0;
}


input, select {
    border: 1px solid var(--color-border-input); 
    border-radius: 10px;
    padding: 0.1rem;
}

#container-show {
    display: flex;
    align-items: center;
    gap: 10px;
}

#show {
    cursor: pointer;

}

#submit {
    display: block;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.4rem;
    background-color: var(--color-backgound-buttom);
    border: none;
    border-radius: 10%;
    color: var(--color-buttom);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    transition: transform 0.3s ease;
}

#submit:hover {
    transform: scale(1.1);
}


/* estilos de la tabla de resultados*/

.result {
    width: 95%;
    height: auto;
    margin: 1.2rem auto 0 auto;
}

td {
    cursor: pointer;
}

/* th {
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

td {
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
} */

/* código responsivo */

/* @media screen and (max-width: 1174px) {
    . {
        flex-direction: column;
    }
} */